@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/specials-bg2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  background-color: rgb(146, 184, 214);
  border-radius: 15px;
}

.card-img-top {
  object-fit: cover;
  height: 600px;
}

.card {
  height: 100%;
}

.card-title {
  font-family: 'Protest Strike', sans-serif;
  font-weight: lighter;
}

.special-text {
  font-family: 'MonteCarlo', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.main-page-btn {
  padding-top: 10px;
}

img {
  height: 100px;
}

#easter-div {
  background-image: linear-gradient(
    #e0cdff,
    #c1f0fb,
    #dcf9a8,
    #ffebaf,
    #f9ceee
  );
}

#mother-div {
  background-color: rgb(243, 150, 222);
}

#patrick-div {
  background-color: rgb(122, 221, 113);
}

#valentine-div {
  background-color: rgb(189, 85, 85);
}

#july-div {
  background-color: rgb(104, 131, 186);
}

#fall-div {
  background-color: rgb(147, 117, 47);
}

#thanksgiving-div {
  background-color: rgb(202, 113, 40);
}

#christmas-div {
  background-color: rgb(120, 172, 107);
}

#snackboard-body {
  background-image: none;
  background-color: #222;
}

.snack-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

.snack-img-container img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
  border: 2px solid white;
}

@media (min-width: 500px) {
  .snack-img-container img {
    max-width: 550px;
    max-height: 750px;
  }
}
