@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

:root {
  --black: #1b1722;
  --white: #f0f0f0;
  --myPurple: rgb(134, 83, 206);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-bg-color {
  background-color: rgb(221, 211, 239);
}

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 5rem;
}

.header {
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1.4rem 7%;
  z-index: 999;
}

.logo img {
  height: 7rem;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;
}

.header .navbar a {
  font-size: 3rem;
  margin-right: 3rem;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  font-family: 'MonteCarlo', sans-serif;
}

.header .navbar a:hover {
  border-bottom: 0.1rem solid var(--myPurple);
  padding-bottom: 0.4rem;
}

.header .icon i {
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--myPurple);
  cursor: pointer;
}
#menu-bar {
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./images/bar.png');
  background-size: cover;
  background-position: center center;
}
.home .homeContent {
  width: 50%;
  float: left;
  text-align: center;
  padding: 4rem;
}
.home .homeContent h2 {
  font-size: 7rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  line-height: 7rem;
  color: var(--myPurple);
  text-shadow: var(--box-shadow);
}

.home .homeContent .home-btn {
  height: 3rem;
}

.home .homeContent .home-btn button {
  font-size: 1.8rem;
  background-color: var(--myPurple);
  color: var(--white);
  border-radius: 0.7rem;
  padding: 0.7rem 2.4rem;
  cursor: pointer;
}

.home .homeContent .home-btn button:hover {
  font-size: 2rem;
}

section {
  padding: 2rem 7%;
}

.heading {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: var(--black);
  font-family: 'Protest Strike', sans-serif;
}

.quote {
  font-family: 'Sail', system-ui;
  font-size: 5rem;
}

.card-img-top {
  object-fit: cover;
  height: 600px;
}

.card {
  height: 100%;
}

.card-title {
  font-family: 'Protest Strike', sans-serif;
  font-weight: lighter;
  font-size: 2rem;
}

.special-text {
  font-family: 'MonteCarlo', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.main-page-btn {
  padding-top: 10px;
}

.gallery .row img {
  height: 450px;
}

.card-body {
  font-size: 1.5rem;
}

/* Form */
.entire-form {
  border-radius: 5%;
  box-shadow: var(--box-shadow);
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #000;
}

.form-section form {
  max-width: 600px; /* Adjust the max-width as needed */
  width: 100%;
  margin: auto;
}

.form-section input,
.form-section textarea {
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: 1.6rem; /* Adjust the font size as needed */
  box-shadow: var(--box-shadow);
}

.form-section button {
  font-size: 1.8rem; /* Adjust the font size of the button */
}

/* End of Form CSS */

/* Footer */

.review {
  border-top: 1px solid #000;
}

.review .review-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .review-row .box {
  width: 50%;
  margin-bottom: 3rem;
  padding: 3rem;
  border-radius: 3rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.review .review-row .box .client-review {
  margin-bottom: 3rem;
}
.review .review-row .box .client-review p {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5;
}
.review .review-row .box .client-info {
  display: flex;
  align-items: center;
}

.review .review-row .box .client-info .clientDetailed h3 {
  font-size: 2.5rem;
}
.review .review-row .box .client-info .clientDetailed p {
  font-size: 1.5rem;
}

.footer {
  background: url(images/backGround.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: flex;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.container .share {
  padding: 0;
  text-align: center;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  color: var(--white);
  background: var(--black);
  margin: 0 0.3rem;
  border-radius: 50%;
}

.container .share {
  background: #0866ff;
  color: var(--white);
}

.container .share:hover {
  background: var(--white);
  color: #0866ff;
  cursor: pointer;
}

.footer .credit {
  font-size: 3rem;
  margin: 0 0 0 0;
  padding: 30px 0 30px 0;
  border-top: 1px solid #000;
  color: var(--black);
  text-align: center;
  font-family: 'MonteCarlo', sans-serif;
  font-weight: bold;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  height: 20px;
  width: 20px;
  border: 3px solid black;
}
.swiper-button-next {
  color: var(--white);
  border: 3px solid black;
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
}

.swiper-button-prev {
  color: var(--white);
  border: 3px solid black;
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* media queries for web responsive */
@media (max-width: 2250px) {
  .gallery .gallery-row .img img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1190px) {
  .gallery .gallery-row .img img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 1045px) {
  .shout-out {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 998px) {
  .header {
    padding: 1.3rem 3rem;
  }

  .home .homeContent h2 {
    font-size: 6rem;
    line-height: 7rem;
  }
  .quote {
    font-size: 4rem;
  }
}

@media (max-width: 881px) {
  .home .homeContent h2 {
    font-size: 5.5rem;
    line-height: 7rem;
  }
  .header .navbar a {
    font-size: 2.25rem;
  }
  .quote {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 25rem;
    background-color: var(--white);
    color: var(--black);
    height: 80vh;
  }
  .header .navbar.active {
    right: 0;
    height: 300px;
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
    color: black;
    margin: 1rem 0;
    text-align: center;
    padding: 0.75rem;
  }

  body > header > nav {
    display: flex;
    flex-direction: column;
  }

  .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('./images/bar.png');
  }

  .home .homeContent {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .home .homeContent h2 {
    font-size: 6rem;
    line-height: 7rem;
    color: rgb(164, 110, 239);
  }

  .quote {
    font-size: 4rem;
    color: white;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 412px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 326px) {
  html {
    font-size: 43%;
  }
}
