@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

:root {
  --black: #1b1722;
  --white: #f0f0f0;
  --myPurple: rgb(134, 83, 206);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.custom-bg-color {
  background-color: rgb(221, 211, 239);
}

* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 0.8rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--white);
  border-radius: 5rem;
}

.header {
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 1.4rem 7%;
  z-index: 999;
}

.logo img {
  height: 7rem;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0;
}

.header .navbar a {
  font-size: 3rem;
  margin-right: 3rem;
  color: var(--black);
  font-weight: bold;
  text-decoration: none;
  font-family: 'MonteCarlo', sans-serif;
}

.header .navbar a:hover {
  border-bottom: 0.1rem solid var(--myPurple);
  padding-bottom: 0.4rem;
}

.header .icon i {
  font-size: 2rem;
  margin-right: 2rem;
  color: var(--myPurple);
  cursor: pointer;
}
#menu-bar {
  display: none;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('./images/bar.png');
  background-size: cover;
  background-position: center center;
}
.home .homeContent {
  width: 50%;
  float: left;
  text-align: center;
  padding: 4rem;
}
.home .homeContent h2 {
  font-size: 7rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  line-height: 7rem;
  color: var(--myPurple);
  text-shadow: var(--box-shadow);
}

.home .homeContent .home-btn {
  height: 3rem;
}
.home .homeContent .home-btn button {
  font-size: 1.8rem;
  background-color: var(--myPurple);
  color: var(--white);
  border-radius: 0.7rem;
  padding: 0.7rem 2.4rem;
  cursor: pointer;
}
.home .homeContent .home-btn button:hover {
  font-size: 2rem;
}
section {
  padding: 2rem 7%;
}
.heading {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: var(--black);
  font-family: 'Protest Strike', sans-serif;
}

.quote {
  font-family: 'Sail', system-ui;
  font-size: 5rem;
}

.gallery {
  border-top: 1px solid #000;
}

.gallery .gallery-row {
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
}
.gallery .gallery-row .box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50rem;
  background-color: var(--white);
  padding: 2rem;
  gap: 1.5rem;
  border-radius: 3rem;
  margin-right: 3rem;
}
.gallery .gallery-row .img img {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  object-fit: cover;
}
.gallery .gallery-row .img img:hover {
  transform: scale(1.1);
}
.gallery .gallery-row .content {
  margin-bottom: 4rem;
}
.gallery .gallery-row .gallery-content h3 {
  font-size: 4rem;
  color: var(--black);
}
.gallery .gallery-row .gallery-content p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: var(--black);
}

.valentines {
  background-image: url(images/valentine-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.valentines-button {
  background-color: pink;
  border: 2px solid red;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  box-shadow: 10px 10px;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
}

.valentines-button:hover {
  transform: scale(1.2);
  box-shadow: -5px -5px;
  background-color: rgb(203, 101, 101);
}

.valentines-button:active {
  background-color: rgb(194, 154, 154);
}

.st-patrick {
  background-image: url(images/patrick-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.st-patrick-button {
  background-color: green;
  border: 2px solid white;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  box-shadow: 10px 10px;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
}

.st-patrick-button:hover {
  transform: scale(1.2);
  box-shadow: -5px -5px;
  background-color: rgb(106, 186, 100);
}

.st-patrick-button:active {
  background-color: rgb(176, 209, 173);
}

.easter {
  background-image: url(images/easter-eggs.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.easter-button {
  background-image: linear-gradient(
    #e0cdff,
    #c1f0fb,
    #dcf9a8,
    #ffebaf,
    #f9ceee
  );
  border: 2px solid white;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  box-shadow: 10px 10px;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
}

.easter-button:hover {
  transform: scale(1.2);
  box-shadow: -5px -5px;
  background-image: linear-gradient(
    #ffebaf,
    #f9ceee,
    #dcf9a8,
    #c1f0fb,
    #e0cdff
  );
}

.easter-button:active {
  background-image: linear-gradient(
    white,
    #ffebaf,
    #f9ceee,
    #dcf9a8,
    #c1f0fb,
    white
  );
}

.snackboard {
  background-image: url(images/char.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.snackboard-button {
  background-color: rgb(218, 157, 118);
  border: 2px solid white;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  box-shadow: 10px 10px;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
}

.snackboard-button:hover {
  transform: scale(1.2);
  box-shadow: -5px -5px;
  background-color: rgb(193, 113, 66);
}

.snackboard-button:active {
  background-color: rgb(242, 177, 139);
}

.mothers {
  background-image: url(images/mothers-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.mothers-button {
  background-color: rgb(255, 182, 227);
  border: 2px solid white;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  box-shadow: 10px 10px;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
}

.mothers-button:hover {
  transform: scale(1.2);
  box-shadow: -5px -5px;
  background-color: rgb(248, 205, 231);
}

.mothers-button:active {
  background-color: rgb(240, 193, 223);
}

.fathers {
  background-image: url(images/father-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.fathers-button {
  background-color: rgb(128, 136, 215);
  border: 2px solid white;
  border-radius: 15px;
  height: 100px;
  width: 200px;
  box-shadow: 10px 10px;
  font-family: 'Pacifico', cursive;
  font-size: x-large;
}

.fathers-button:hover {
  transform: scale(1.2);
  box-shadow: -5px -5px;
  background-color: rgb(151, 157, 208);
}

.fathers-button:active {
  background-color: rgb(155, 164, 245);
}

.blogs {
  background: url(images/backGround.png) no-repeat;
  background-size: cover;
  background-position: center center;
  border-top: 1px solid #000;
}
.blogs .blogs-row .box {
  display: flex;
  align-items: center;
  background-color: var(--white);
  flex-wrap: wrap;
}
.blogs .blogs-row .box .img {
  flex: 1 1 45rem;
}
.blogs .blogs-row .box .img img {
  width: 100%;
  padding: 5rem;
}
.blogs .blogs-row .box .content {
  flex: 1 1 45rem;
  padding: 2rem;
}
.blogs .blogs-row .box .content h3 {
  font-size: 3.5rem;
  color: var(--black);
  text-shadow: var(--box-shadow);
}
.blogs .blogs-row .box .content p {
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
  line-height: 1.8;
}
.blogs .blogs-row .box .content a {
  font-size: 2rem;
  cursor: pointer;
}
.blogs .blogs-row .box .content a:hover {
  color: var(--black);
  text-shadow: var(--box-shadow);
}

/* Form */
.entire-form {
  border-radius: 5%;
  box-shadow: var(--box-shadow);
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #000;
}

.form-section form {
  max-width: 600px; /* Adjust the max-width as needed */
  width: 100%;
  margin: auto;
}

.form-section input,
.form-section textarea {
  width: 100%;
  height: auto;
  padding: 1rem;
  font-size: 1.6rem; /* Adjust the font size as needed */
  box-shadow: var(--box-shadow);
}

.form-section button {
  font-size: 1.8rem; /* Adjust the font size of the button */
}

/* End of Form CSS */

/* Footer */

.review {
  border-top: 1px solid #000;
}

.review .review-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review .review-row .box {
  width: 50%;
  margin-bottom: 3rem;
  padding: 3rem;
  border-radius: 3rem;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
}

.review .review-row .box .client-review {
  margin-bottom: 3rem;
}
.review .review-row .box .client-review p {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.5;
}
.review .review-row .box .client-info {
  display: flex;
  align-items: center;
}

.review .review-row .box .client-info .clientDetailed h3 {
  font-size: 2.5rem;
}
.review .review-row .box .client-info .clientDetailed p {
  font-size: 1.5rem;
}

.footer {
  background: url(images/backGround.png) no-repeat;
  background-size: cover;
  background-position: center center;
}
.footer .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
  padding: 2rem 1rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: flex;
  font-size: 1.6rem;
  color: var(--black);
  padding: 1rem 0;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: var(--black);
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.container .share {
  padding: 0;
  text-align: center;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  color: var(--white);
  background: var(--black);
  margin: 0 0.3rem;
  border-radius: 50%;
}

.container .share {
  background: #0866ff;
  color: var(--white);
}

.container .share:hover {
  background: var(--white);
  color: #0866ff;
  cursor: pointer;
}

.footer .credit {
  font-size: 3rem;
  margin: 0 0 0 0;
  padding: 30px 0 30px 0;
  border-top: 1px solid #000;
  color: var(--black);
  text-align: center;
  font-family: 'MonteCarlo', sans-serif;
  font-weight: bold;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  height: 20px;
  width: 20px;
  border: 3px solid black;
}
.swiper-button-next {
  color: var(--white);
  border: 3px solid black;
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
}

.swiper-button-prev {
  color: var(--white);
  border: 3px solid black;
  background-color: black;
  border-radius: 10px;
  opacity: 0.7;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.2);
  opacity: 1;
}

/* media queries for web responsive */
@media (max-width: 2250px) {
  .gallery .gallery-row .img img {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 1190px) {
  .gallery .gallery-row .img img {
    height: 250px;
    width: 250px;
  }
}

@media (max-width: 1045px) {
  .shout-out {
    height: 400px;
    width: 400px;
  }
}

@media (max-width: 998px) {
  .header {
    padding: 1.3rem 3rem;
  }

  .home .homeContent h2 {
    font-size: 6rem;
    line-height: 7rem;
  }
  .quote {
    font-size: 4rem;
  }
}

@media (max-width: 881px) {
  .home .homeContent h2 {
    font-size: 5.5rem;
    line-height: 7rem;
  }
  .quote {
    font-size: 3.5rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 25rem;
    background-color: var(--white);
    color: var(--black);
    height: 80vh;
  }
  .header .navbar.active {
    right: 0;
    height: 300px;
  }
  .header .navbar a {
    display: block;
    font-size: 2rem;
    color: black;
    margin: 1rem 0;
    text-align: center;
    padding: 0.75rem;
  }

  body > header > nav {
    display: flex;
    flex-direction: column;
  }

  .home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('./images/bar.png');
  }

  .home .homeContent {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }

  .home .homeContent h2 {
    font-size: 6rem;
    line-height: 7rem;
    color: rgb(164, 110, 239);
  }

  .quote {
    font-size: 4rem;
    color: white;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 412px) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 326px) {
  html {
    font-size: 43%;
  }
}
